<li [ngClass]="{'list-group-item': true,
                'list-group-item-success' : getStatus() === 'success',
                'list-group-item-danger' : getStatus() === 'danger'
}">
  <div class="row">
    <div class="col-xs-10">
      <h2 class="list-group-item-heading">{{ post.title }}</h2>
    </div>
    <div class="col-xs-2">
      <div class="pull-right">
        {{ post.created_at | date: 'short' | uppercase}}
      </div>
    </div>
  </div>
  <div class="list-group-item-text">{{ post.content }}</div>
  <div>
    <button type="button" class="btn btn-success" (click)="onLike()">Love it</button>
    <button type="button" class="btn btn-danger" (click)="onDislike()">Don't love it</button>
  </div>
</li>
